<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Hunter App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <div class="header-inner">
            <h1 class="header-title">Restaurant Hunter App</h1>
        </div>

        <nav>
            <ul>
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://github.com/kadekframa" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div class="hero-inner">
            <h1 class="hero-title">Temukan restaurant favorit Anda!</h1>
            <p class="hero-tagline">Dukung produk dalam negeri. Jadilah pemburu kuliner di negeri sendiri !</p>
        </div>
    </div>

    <main>
        <section>
            <div class="explore">
                <h1>Explore Restaurant</h1>
                <hr>
                <div id="content-resto">
                    <!-- content -->
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright 2022 - Restaurant Hunter Apps</p>
    </footer>
</body>
</html>
