<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Hunter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@400;700&family=Varela+Round&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="#main" class="skip-to-konten">Skip To content</a>
    <header class="header">
        <div class="header-inner">
            <img class="logo" src="https://www.kindpng.com/picc/m/57-575266_restaurants-clipart-greeter-logo-for-restaurant-hd-hd.png" alt="RestoHunter logo" title="Restaurant Hunter Logo">
            <h1 class="header-title">Restaurant Hunter</h1>
        </div>
        
        <button id="menu" class="header-menu">☰</button>

        <nav id="drawer" class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-item-anchor" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-item-anchor" href="#">Favorite</a></li>
                <li class="nav-item"><a class="nav-item-anchor after-this" href="https://github.com/kadekframa" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div class="hero-inner">
            <h1 tabindex="0" class="hero-title">Temukan restaurant favorit Anda!</h1>
            <p tabindex="0" class="hero-tagline">Dukung produk dalam negeri. Jadilah pemburu kuliner di negeri sendiri !</p>
        </div>
    </div>

    <main id="main">
        <section>
            <div class="explore">
                <h1 class="explore-label">Explore Restaurant</h1>
                <div id="posts-restaurant" class="posts-restaurant">
                    <!-- content -->
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p tabindex="0">Copyright 2022 - Restaurant Hunter Apps by Kadek Frama | Support by Dicoding Indonesia</p>
    </footer>
</body>
</html>
