.posts {
    display: grid;
    grid-row-gap: 16px;
}



@media screen and (max-width: 399px){
    .nav {
        z-index: 10;
        background-color: rgb(243, 243, 243);
        width: 180px;
        position: absolute;
        font-size: 12px;

        /* This transform moves the drawer off canvas. */
        -webkit-transform: translate(264px, 0);
        transform: translate(264px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;

        margin-top: 50px;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        right: 0.6px;
    }

    .nav .nav-item {
        display: list-item;
        border: 1px solid #e0e0e0;
        width: 100%;
        text-align: left;
        padding: 20px;
    }

    header .header-title {
        top: 1px;
        font-size: 1.4em !important;
    }

    .hero {
        width: 100% !important;
    }

    .hero .hero-title {
        margin-bottom: 34px !important;
        font-size: 30px !important;
    }

    .hero .hero-tagline {
        margin-top: -24px !important;
        font-size: 14px !important;
    }

    .explore .post-item {
        margin-left: 34px !important;
        width: 320px !important;
    }

    .header .logo {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        z-index: 10;
        background-color: rgb(243, 243, 243);
        width: 180px;
        position: absolute;
        font-size: 12px;
        display: hidden;

        /* This transform moves the drawer off canvas. */
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
        margin-top: 50px;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        right: 0.6px;
    }

    .open-focus {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        right: 0.6px;
    }

    .nav .nav-item {
        display: list-item;
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        width: 100%;
        text-align: left;
        padding: 30px;
    }

    
    .nav .nav-item a {
        font-size: 13.5px;
        text-align: center;
        padding: 10px 36px 10px 10px;
    }

    header .header-title {
        top: 1px !important;
        font-size: 1.6em !important;
    }

    .hero {
        width: 100% !important;
    }

    .hero .hero-title {
        margin-bottom: 34px !important;
        font-size: 32px !important;
    }

    .hero .hero-tagline {
        margin-top: -24px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 16px;
    }

    .restaurant .restaurant__description p {
        margin-top: 10px;
    }
}

@media screen and (max-width: 350px){
    header .header-title {
        top: 1px;
        font-size: 1.4em !important;
    }

    .hero .hero-title {
        font-size: 30px !important;
    }
    
    .hero .hero-tagline {
        padding-left: 40px;
        padding-right: 40px;
    }

    .explore .post-item {
        margin-left: 30px !important;
        width: 274px !important;
    }

    .post-item .city {
        margin: 0 84px 0 84px;
    }
}

@media screen and (max-width: 310px){
    header .header-title {
        top: 1px;
        font-size: 1.3em !important;
    }

    .hero .hero-title {
        font-size: 25px !important;
    }
    
    .hero .hero-tagline {
        padding-left: 30px;
        padding-right: 30px;
    }

    .explore .explore-label {
        font-size: 24px;
    }
    .explore .post-item {
        margin-left: 24px !important;
        width: 264px !important;
    }

    .post-item .city {
        margin: 0 84px 0 84px;
    }
}



@media screen and (min-width: 501px) {
    .header .header-menu {
        display: none;
    }

    .nav .nav-item {
        padding: 4px;
    }

    .header .header-title {
        top: 0.1px;
        font-size: 1.4em !important;
    }

    .hero .hero-title {
        margin-bottom: 34px !important;
        font-size: 36px !important;
    }

    .hero .hero-tagline {
        margin-top: -24px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
    }

    .nav {
        right: 10px;
    }

    .nav a {
        color: rgb(214, 214, 214);
    }

    .nav a:hover {
        color: rgb(119, 119, 119);
    }
    
    .restaurant .restaurant__description p {
        margin-top: 10px;
    }
}



@media screen and (min-width: 665px) {
    .nav {
        right: 30px;
    }

    header .header-title {
        font-size: 1.68em;
    }

    .hero .hero-title {
        margin-bottom: 90px !important;
        font-size: 42px !important;
    }

    .hero .hero-tagline {
        margin-top: -84px;
        padding-left: 34px;
        padding-right: 34px;
        font-size: 21px;
    }

    .restaurants {
        grid-template-columns: repeat(2, 1fr);
    }

    .restaurant {
        grid-template-columns: auto 1fr;
    }

    .restaurant .restaurant__name {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .restaurant .restaurant__description {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .restaurant .restaurant__description p {
        margin-top: 10px;
    }

    .restaurant .restaurant__reviews {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .restaurant .restaurant__info h4, .restaurant__info p {
        margin-left: 4px;
    }

    .restaurant-item .restaurant-item__header .restaurant-item__header__poster {
        width: 100%;
        height: 16.4em;
    }

}

@media screen and (min-width: 800px) {
    header .header-title {
        font-size: 2em !important;
    }
}

@media screen and (min-width: 850px) {
    .restaurants {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .restaurants {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    header .header-title {
        font-size: 1.8em;
    }

    .hero .hero-title {
        margin-bottom: 120px !important;
        font-size: 54px !important;
    }

    .hero .hero-tagline {
        margin-top: -110px;
        padding-left: 34px;
        padding-right: 34px;
        font-size: 28px;
    }

    .restaurants {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1800px) {
    .posts-restaurant {
        margin: 34px 0 10px 0 !important;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .hero .hero-title {
        margin-bottom: 120px !important;
        font-size: 64px !important;
    }

    .hero .hero-tagline {
        margin-top: -110px;
        padding-left: 34px;
        padding-right: 34px;
        font-size: 34px;
    }
}
